/* 按钮样式 */
.green_button, .blue_button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.green_button {
    background-color: #28a745;
    color: #fff;
}

.green_button:hover {
    background-color: #218838;
}

.blue_button {
    background-color: #007bff;
    color: #fff;
}

.blue_button:hover {
    background-color: #0056b3;
}
.span_kaiguan{
    font-size: larger;
}