/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: 'jetbrains mono','Consolas';
}

header {
    
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

h2 {
    
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#sao2 {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
    margin: 10px;
    word-wrap:break-word;
    
}





/* Responsive design */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }
    main {
        padding: 10px;
    }
    button {
        font-size: 12px;
        padding: 8px 16px;
    }
}
